th {
    color: black;
    background: blue;
}

#recreo {
    color: black;
    background-color: red;
}

td: {
    color: black;
    background: red;
}

tr {
    color: black;
    background: red;
}
